
*.nupkg

packages/Mono.Gendarme.2.11.0.20121120/tools/gendarme.exe

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Framework.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.BadPractice.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.NUnit.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Naming.dll

packages/MonoDevelop.Addins.0.1.4/build/net40/MonoDevelop.Addins.Tasks.dll

packages/repositories.config

packages/MonoDevelop.Addins.0.1.4/build/net40/MonoDevelop.Addins.targets

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Security.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Concurrency.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Design.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Design.Linq.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Interoperability.Com.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Performance.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Exceptions.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Design.Generic.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Correctness.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/ICSharpCode.SharpZipLib.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Smells.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Maintainability.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Security.Cas.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Portability.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Gendarme.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/GendarmeWizard.exe

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Interoperability.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Ui.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Mono.Cecil.Pdb.dll

packages/MonoDevelop.Addins.0.1.4/build/net40/Mono.Addins.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Gendarme.Rules.Serialization.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Mono.Cecil.Mdb.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/Mono.Cecil.dll

packages/Mono.Gendarme.2.11.0.20121120/tools/rules.xml

*.maddin

*.data

MonoDevelop.Gendarme/bin/Debug/addin-db-001/fdb-lock

*.dll

MonoDevelop.Gendarme/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttribute.cs

*.mdb

MonoDevelop.Gendarme/obj/Debug/MonoDevelop-Addin-Deps.g.cs

MonoDevelop.Gendarme/obj/Debug/MonoDevelop.Gendarme.Properties.Manifest.addin.xml

MonoDevelop.Gendarme/bin/Debug/addin-db-001/host-index

MonoDevelop.Gendarme/bin/Debug/addin-db-001/fdb-update-lock

MonoDevelop.Gendarme/bin/Debug/addin-db-001/hosts/XamarinStudio.addins

MonoDevelop.Gendarme/obj/Debug/MonoDevelop.Gendarme.csproj.FilesWrittenAbsolute.txt
